#legendbox, #sidebar, .olControlPanZoomBar,
.olControlOverviewMapMaximizeButton, .olControlPanZoom,
.olControlNavToolbar,th.onscreeninstruction, .submit,
.olControlMousePosition, div#toplinkcontainer,
#noprintfooter
{
    display: none;
}

img#topbanner
{
    border: 0px;
}

.olLayerDiv
{
    position: absolute;
}

body {
  font-family: "Tahoma", "Verdana", "Arial", sans-serif;
  font-size: 9pt;
  color: black;
  background-color: white;
}

#mapandtextcontainer
{
}

#mapcontainer
{
    float: left;
}

#detailtext
{
    width: 99.5%
    float: left;
    clear: left;
}


td {
  text-align: justify;
}

th {
  text-align: left;
}

select#id_filter_selector{
  font-weight:bold; 
  text-align: left;
}


a 
{
  text-decoration:none;
  color: black;
  background-color: white;
} 
