{% extends "base-map.html" %}
{% load i18n %}

{% block js-globals %}
    <script type="text/javascript">var map_mode=2; var acat_id={{ biotope.category.id }};
    var abiotope_site_code="{{ biotope.site_code }}"</script>
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block title %}
{% trans "ΦΙΛΟΤΗΣ - " %}{{ biotope.category }} - {{ biotope.site_name_gr }}
{% endblock %}

{% block extracss %}
    <style type="text/css">
    #map {
        width: 400px;
        height: 340px;
        border: 1px solid #eee;
        z-index: 1;
    }
    </style>
{% endblock %}

{% block content %}
    {% if biotope %}
        {% block content_main %}
            <h2>Στοιχεία Τόπου</h2>
            {% if request.user.is_authenticated %}
                <p style="font-size:9pt;">
                <a href='/admin/naturebank/biotope/{{ biotope.id }}/'>Επεξεργασία</a></p>
            {% endif %}
            <div id="mapandtextcontainer">
                {% if biotope.has_mpoly %}
                <div id="mapcontainer" style="width:568px;">
                    <div id="map" style="float:left;"></div>
                    <div id="legendbox" style="border: 1px solid #333399; width: 162px; background-color: #f5f5f0; float:left; padding-left: 2px;">
                        <h5>Επίπεδα τόπων:</h5>
                        <form name="legendform">
                        <div id="idlegend"></div>
                        <h5>Επιλογές:</h5>
                        <p class="legend">
                        <input type=checkbox checked name="chkopaque" onClick="setLayersOpaque(chkopaque.checked);">Σχεδίαση επιφανειών
                        <br><input type=checkbox name="chklabels" onClick="setLayersLabels(chklabels.checked);">Κωδικοί τόπων
                        <br><input type=checkbox checked name="chksettlements" id="id_chksettlements" onClick="setSettlementsLabels(chksettlements.checked);"><span id="id_lblsettlements">Οικισμοί</span>
                        </p>
                        </form>
                        <h5>Χαρτογραφικό υπόβαθρο:</h5>
                        <form id="idbaselayers" name="baselayers">
                        <p class="legend">
                        <input type=radio checked name="rdbase" value="0" onClick="changeBaseLayer(0);">Open cycle map<br>
                        <input type=radio name="rdbase" value="1" onClick="changeBaseLayer(1);">Open Street map<br>
                        <input type=radio name="rdbase" value="2" onClick="changeBaseLayer(2);">Google earth<br>
                        <input type=radio name="rdbase" value="3" onClick="changeBaseLayer(3);">Κτηματολόγιο Α.Ε.
                        </p><p>
                        <input type="button" name="btndnloadkml" style="display:none;" value="{% trans "Λήψη KML" %}" onClick="javascript:window.location = '/irrelevant/kml/?SITE_CODE={{ biotope.site_code }}&SIMPLIFY=False&SRS=EPSG%3A4326';">
                        </p>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
            <div id="detailtext">
                {% url 'biotope_list' as list_url %}
                <div style="float: left;">
                    <h3>Γενικά Στοιχεία</h3>
                    <table class="definition tablesorter">
                        <tr valign="top" class="{% cycle 'odd' 'even' as rowalts %}">
                            <th>{% trans "Όνομα" %}</th>
                            <td>{{ biotope.site_name_gr }}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Κατηγορία Τόπου" %}</th>
                            <td><a href="{{ list_url }}?category={{biotope.category.id}}">
                            {{ biotope.category }}</a></td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Κωδικός Τόπου" %}</th>
                            <td>{{ biotope.site_code }}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}" style="display:none;">
                            <th>{% trans "Ημ/νία Πρώτης Καταγραφής" %}</th>
                            <td>{{ biotope.creation_date|date:"d/m/Y" }}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}" style="display:none;">
                            <th>{% trans "Ημ/νία τελευταίας ενημέρωσης" %}</th>
                            <td>{{ biotope.update_date|date:"d/m/Y" }}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Κύριος Χαρακτήρας" %}</th>
                            <td>
                                <table>
                                    <tr>
                                        <th>{% trans "Βιότοπος" %}</th>
                                        <td>
                                            {% if biotope.main_char_biotopos %}
                                                <input type="checkbox" disabled="disabled" checked="checked"/>
                                            {% else %}
                                                <input type="checkbox" disabled="disabled"/>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Φυσικό Τοπίο" %}</th>
                                        <td>
                                            {% if biotope.main_char_natural %}
                                                <input type="checkbox" disabled="disabled" checked="checked"/>
                                            {% else %}
                                                <input type="checkbox" disabled="disabled"/>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Δομημένο Τοπίο" %}</th>
                                        <td>
                                            {% if biotope.main_char_built %}
                                                <input type="checkbox" disabled="disabled" checked="checked"/>
                                            {% else %}
                                                <input type="checkbox" disabled="disabled"/>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Διοικητική Υποδιαίρεση" %}</th>
                            <td><a href="{{ list_url }}?geo_code={{biotope.geo_code.code}}">
                                {{ biotope.geo_code.name }}</a></td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Δήμος-Κοινότητα" %}</th>
                            <td>{{ biotope.reg_mun }}</td>
                        </tr>
                        {% if biotope.total_gis_area_ha %}
                            <tr valign="top" class="{% cycle rowalts %}">
                                <th>{% trans "Συνολική Έκταση (ha)" %}</th>
                                <td>{% if biotope.total_gis_area_ha %}{{ biotope.total_gis_area_ha }}{% endif %}</td>
                            </tr>
                        {% endif %}
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Χερσαία Έκταση (ha)" %}</th>
                            <td>{% if biotope.area_l %}{{ biotope.area_l }}{% endif %}</td>
                        </tr>
                        {% if biotope.gis_perimeter_km %}
                            <tr valign="top" class="{% cycle rowalts %}">
                                <th>{% trans "Συνολική Περίμετρος (km)" %}</th>
                                <td>{% if biotope.gis_perimeter_km %}{{ biotope.gis_perimeter_km }}{% endif %}</td>
                            </tr>
                        {% endif %}
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Μέγιστο Υψόμετρο (m)" %}</th>
                            <td>{% if biotope.alt_max %}{{ biotope.alt_max }}{% endif %}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Ελάχιστο Υψόμετρο (m)" %}</th>
                            <td>{% if biotope.alt_min %}{{ biotope.alt_min }}{% endif %}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Ένταξη στο Υπάρχον Θεσμικό Πλαίσιο" %}</th>
                            <td>
                                <table>
                                {% for designation in biotope.designation.all %}
                                    <tr>
                                        <td><a href="{{ list_url }}?designation={{ designation.id }}">{{ designation.name }}</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                {% if image_list %}
                    <div style="float: left; clear: right; padding-left: 5%;">
                        <table width="240" cellpadding="10">
                        <th class="onscreeninstruction" style="font-size: 10px">Εικόνες από "{{biotope.site_name_gr}}". Πατήστε πάνω στις
                        μικρογραφίες για μεγέθυνση.</th>
                        {% for w in image_list %}
                            <tr><td align="center">
                            <a href="{{w.image.url}}" title="{{ w.remarks|striptags|safe }}">
                            <img src="{{w.thumbnail.url}}" width="{{w.thumbnail.width}}"
                            height="{{w.thumbnail.height}}" alt="{{w.descr}}"
                            border="0" /></a>
                            <p>{{w.descr}}</p>
                            </tr></td>
                        {% endfor %}
                        </table>
                    </div>
                {% endif %}
                <div style="clear: both;">
                    <hr />
                    <h3>Χαρακτηριστικά</h3>
                    <table class="definition tablesorter">
                        <tr valign="top" class="{% cycle 'odd' 'even' as rowalts %}">
                            <th>{% trans "Τύπος Τοπίου" %}</th>
                            <td>
                                <table>
                                {% for site_type in biotope.site_type.all %}
                                    <tr>
                                        <td>
                                            <a href="/biotopes/?category=&geo_code=&site_type={{site_type.id}}">
                                            {{ site_type.name }}</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Κλίμα" %}</th>
                            <td>
                                <table>
                                {% for climate in biotope.climate.all %}
                                    <tr>
                                        <td><a href="{{ list_url }}?climate={{ climate.id }}">{{ climate.name }}</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Γεωλογία" %}</th>
                            <td>{{ biotope.geology|safe }}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Περιγραφή Τόπου" %}</th>
                            <td>{{ biotope.characteristics|safe }}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Κατάσταση Τόπου" %}</th>
                            <td><a href="{{ list_url }}?condition={{ biotope.condition.id }}">{{ biotope.condition.name }}</a></td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Εγκατάλειψη οικισμών" %}</th>
                            <td><a href="{{ list_url }}?abandon={{ biotope.abandon.id }}">{{ biotope.abandon.name }}</a></td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Τάση Κατάστασης Τόπου" %}</th>
                            <td><a href="{{ list_url }}?trend={{ biotope.trend.id }}">{{ biotope.trend.name }}</a></td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Ιστορία και εξέλιξη του τόπου" %}</th>
                            <td>{{ biotope.history|safe }}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Σημεία με καλή Θέα" %}</th>
                            <td>{{ biotope.view|safe }}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Μονοπάτια Περίπατοι" %}</th>
                            <td>{{ biotope.path|safe }}</td>
                        </tr>
                    </table>

                    <hr />

                    <h3>Αξίες</h3>
                    <table class="definition tablesorter">
                        <tr valign="top" class="{% cycle 'odd' 'even' as rowalts %}">
                            <th>{% trans "Οικολογική Αξία" %}</th>
                            <td>
                                <table>
                                {% for ecological in biotope.ecological_value.all %}
                                    <tr>
                                        <td><a href="{{ list_url }}?ecological_value={{ ecological.id }}">{{ ecological.name }}</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Κοινωνικοοικονομική/πολιτιστική Αξία" %}</th>
                            <td>
                                <table>
                                {% for social in biotope.social_value.all %}
                                    <tr>
                                        <td><a href="{{ list_url }}?social_value={{ social.id }}">{{ social.name }}</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Αισθητική Αξία" %}</th>
                            <td>
                                <table>
                                {% for cultural in biotope.cultural_value.all %}
                                    <tr>
                                        <td><a href="{{ list_url }}?cultural_value={{ cultural.id }}">{{ cultural.name }}</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Σχόλιο για τις αξίες" %}</th>
                            <td>{{ biotope.quality|safe }}</td>
                        </tr>
                    </table>

                    <hr />

                    <h3>Κίνδυνοι</h3>
                    <table class="definition tablesorter">
                        <tr valign="top" class="{% cycle 'odd' 'even' as rowalts %}">
                            <th>{% trans "Απειλές/διαταραχές" %}</th>
                            <td>
                                <table>
                                {% for threat in biotope.threat.all %}
                                    <tr>
                                        <td><a href="{{ list_url }}?threat={{ threat.id }}">{{ threat.name }}</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Σχόλιο για τις απειλές-διαταραχές" %}</th>
                            <td>{{ biotope.threat_text|safe }}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Τρωτότητα" %}</th>
                            <td>{{ biotope.vulnerability|safe }}</td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Προτεραιότητα προστασίας" %}</th>
                            <td><a href="{{ list_url }}?conservation={{ biotope.conservation.id }}">{{ biotope.conservation.name }}</a></td>
                        </tr>
                    </table>

                    <hr />

                    <h3>Πανίδα και Χλωρίδα</h3>
                    <table class="definition tablesorter">
                        <tr valign="top" class="{% cycle 'odd' 'even' as rowalts %}">
                            <th>{% trans "Χαρακτηριστικά Ενδιαιτήματα" %}</th>
                            <td>
                                <table>
                                {% for habitation in biotope.habitation.all %}
                                    <tr>
                                        <td><a href="{{ list_url }}?habitation={{habitation.id}}">
                                        {{ habitation.name }}</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Αξιόλογα Φυτά" %}</th>
                            <td>
                                <table>
                                {% for i in flor %}
                                    <tr>
                                        <td class="spi" id="id{{i.species_category_id}}"></td>
                                        <td><a href="{% url 'species_detail' i.id %}">
                                            {{ i.species_name }} {{ i.sub_species }}</a>
                                            {% if i.species_name_gr %} ({{i.species_name_gr}}) {%endif %}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Αξιόλογα Θηλαστικά" %}</th>
                            <td>
                                <table>
                                {% for i in mamm %}
                                    <tr>
                                        <td class="spi" id="id{{i.species_category_id}}"></td>
                                        <td><a href="{% url 'species_detail' i.id %}">
                                            {{ i.species_name }} {{ i.sub_species }}</a>
                                            {% if i.species_name_gr %} ({{i.species_name_gr}}) {%endif %}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Αξιόλογα Πτηνά" %}</th>
                            <td>
                                <table>
                                {% for i in bird %}
                                    <tr>
                                        <td class="spi" id="id{{i.species_category_id}}"></td>
                                        <td><a href="{% url 'species_detail' i.id %}">
                                            {{ i.species_name }} {{ i.sub_species }}</a>
                                            {% if i.species_name_gr %} ({{i.species_name_gr}}) {%endif %}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Αξιόλογα Αμφίβια / Ερπετά" %}</th>
                            <td>
                                <table>
                                {% for i in rept_amph %}
                                    <tr>
                                        <td class="spi" id="id{{i.species_category_id}}"></td>
                                        <td><a href="{% url 'species_detail' i.id %}">
                                            {{ i.species_name }} {{ i.sub_species }}</a>
                                            {% if i.species_name_gr %} ({{i.species_name_gr}}) {%endif %}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Αξιόλογα Ψάρια" %}</th>
                            <td>
                                <table>
                                {% for i in fish %}
                                    <tr>
                                        <td class="spi" id="id{{i.species_category_id}}"></td>
                                        <td><a href="{% url 'species_detail' i.id %}">
                                            {{ i.species_name }} {{ i.sub_species }}</a>
                                            {% if i.species_name_gr %} ({{i.species_name_gr}}) {%endif %}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Αξιόλογα Ασπόνδυλα" %}</th>
                            <td>
                                <table>
                                {% for i in inve %}
                                    <tr>
                                        <td class="spi" id="id{{i.species_category_id}}"></td>
                                        <td><a href="{% url 'species_detail' i.id %}">
                                            {{ i.species_name }} {{ i.sub_species }}</a>
                                            {% if i.species_name_gr %} ({{i.species_name_gr}}) {%endif %}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr valign="top" class="{% cycle rowalts %}">
                            <th>{% trans "Σχόλια για τα είδη" %}</th>
                            <td>{{ biotope.species_text|safe }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
