{% extends "base-nomap.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block extra_head %}
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/truncate-2.3-pack/jquery-1.2.3.pack.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/truncate-2.3-pack/jquery.truncate-2.3-pack.js"></script>
<script language="javascript" type="text/javascript">
$(function() {

    $(".truncate").truncate( 20, {
        chars: /\s/,
        trail: [ " ( <a href='#' class='truncate_show'>more</a> . . . )", " ( . . . <a href='#' class='truncate_hide'>less</a> )" ]
    });
});
function enable_disable_plant_kind()
{
  var todisable = true;
  if($("form select[name='species_category']").val()=='4')
    todisable = false;
  if(todisable)
    $("form select[name=plant_kind]").val('');
  $("form select[name=plant_kind]").attr('disabled', todisable);
  if(todisable)
      $("form select[name=plant_kind]").parent().parent().hide();
  else
      $("form select[name=plant_kind]").parent().parent().show();
}
</script>
<!-- jQuery thickbox plugin -->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}js/thickbox.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/thickbox.css" media="screen" />
<!-- jQuery thickbox plugin -->

<style type="text/css">
ul#id_species_name { padding-left: 1em; }

ul#id_species_name li {
  display: inline;
}
</style>
{% endblock %}

{% block title %}
ΦΙΛΟΤΗΣ - Είδη
{% endblock %}

{% block content_main %}
    {% autosort object_list %}
    {% autopaginate object_list 20 %}
<div id="mapandtextcontainer"><div id="detailtext">
    <fieldset style="margin: inherit auto; width: 50%;" class="compact">
        <form action="" method="get">
          <table class="definition">
            {{ form.as_table }}
            <script>
            </script>
          <tr>
            <td></td>
            <td><input type="submit" class="i16 submit" value="{% trans "Επιλογή" %}"/></td>
            </tr>
          </table>
        </form>
    </fieldset>

    <table class="tablesorter" style="margin-top: 2em;">
      <thead>
        <tr>
          <td class="spi">
          <th>{% anchor species_name 'Ονομασία' %}</th>
          <th>{% anchor sub_species 'Υποείδος' %}</th>
          <th>{% anchor species_name_gr 'Κοινή ονομασία' %}</th>
          <th>{% trans 'Φωτογραφία' %}</th>
        </tr>
      </thead>
      <tbody>
    {% for species in object_list %}
    {% with species.id as species_id %}
    {% url 'species_detail' species_id as species_url %}
      <tr class="{% cycle 'odd' 'even' %}">
        <!-- FIXME Translation handling -->
        <td class="spi" id="id{{species.species_category_id}}"></td>
        <td><a href="{{ species_url }}">{{ species.species_name }}</a></td>
        <td>{{ species.sub_species }}</td>
        <td>{{ species.species_name_gr }}</td>
        <td align="center">
            {% if species.photo %}
            <a class="thickbox" href="{{ MEDIA_URL }}{{ species.photo }}">
                <img src="{{ STATIC_URL }}images/icons/picture.png" style="border:0px"/>
            </a>
            {% else %}
                <img src="{{ STATIC_URL }}images/icons/picture-none.png" style="border:0px"/>
            {% endif %}
        </td>
      </tr>
    {% endwith %}
    {% endfor %}
    </tbody>
    </table>

    <p>
      <div>{% paginate %}</div>
    </p>
</div></div>
{% endblock %}
{% block extrajs %}
<script language="javascript">
enable_disable_plant_kind();
$("form select[name='species_category']").change(enable_disable_plant_kind);
</script>
{% endblock %}
