{% extends "base-map.html" %}
{% load i18n %}
{% load comma_manipulation %}
{% load sorting_tags %}

{% block js-globals %}
    <script type="text/javascript">var map_mode=3; aspecies_id={{ species.id }}</script>
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block title %}
{% trans "ΦΙΛΟΤΗΣ - " %}{{ species.species_category.name }} - {{ species.species_name }}
    {% if species.sub_species %} - {{ species.sub_species }} {% endif %}
    {% if species.species_name_gr %} ({{ species.species_name_gr }}) {% endif %}
{% endblock %}

{% block extracss %}
    <style type="text/css">
    #map {
        width: 520px;
        height: 420px;
        border: 1px solid #eee;
        z-index: 1;
    }
    </style>
{% endblock %}

{% block content_main %}
<div id="mapandtextcontainer">
    <div id="detailtext">
    <h2>Στοιχεία Είδους</h2>
    {% if request.user.is_authenticated %}
        <p style="font-size:9pt;">
        <a href='/admin/naturebank/species/{{ species.id }}/'>Επεξεργασία</a></p>
    {% endif %}

        {% if species %}
            <table class="definition tablesorter">
                <tr valign="top" class="{% cycle 'odd' 'even' as rowalts %}">
                    <th>{% trans "Όνομα" %}</th>
                    <td>{{ species.species_name }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Υποείδος" %}</th>
                    <td>{{ species.sub_species }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Ημερομηνία" %}</th>
                    <td>{{ species.creation_date|date:"d/m/Y" }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Τελευταία Ενημέρωση" %}</th>
                    <td>{{ species.update_date|date:"d/m/Y" }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Προηγούμενες Oνομασίες" %}</th>
                    <td>{{ species.other_names }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Κοινή Ονομασία" %}</th>
                    <td>{{ species.species_name_gr }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Είδος Οργανισμού" %}</th>
                    <td><a href="/species/?species_category={{ species.species_category.id }}">
                    {{ species.species_category.name }}</a></td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Τάση" %}</th>
                    <td>{{ species.trend.name }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Απειλές" %}</th>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    {% load_threats species %}
                                    {{ threats|comma_sep }}
                                </td>
                            </tr>
                       </table>
                    </td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Σχόλια απειλών" %}</th>
                    <td>{{ species.threat }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Κατάσταση Διατήρησης" %}</th>
                    <td>
                        <table>
                                <tr>
                                    <th>{% trans "Ελλάδα" %}</th>
                                    <td>{{ species.conservation_gr.name }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans "Ε.Ε." %}</th>
                                    <td>{{ species.conservation_ee.name }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans "Βιόσφαιρα" %}</th>
                                    <td>{{ species.conservation_bio.name }}</td>
                                </tr>
                       </table>
                    </td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Γνωρίσματα" %}</th>
                    <td>
                        <table>
                                <td>
                                    {% load_categories species %}
                                    {{ categories|comma_sep }}
                                </td>
                       </table>
                    </td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Σχόλια Γνωρισμάτων" %}</th>
                    <td>{{ species.category }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Μέτρα" %}</th>
                    <td>{{ species.measures_take }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Προτεραιότητα Προστασίας" %}</th>
                    <td>{{ species.conservation_prio.name }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Ενδιαιτήματα" %}</th>
                    <td>{{ species.habitat }}</td>
                </tr>
                <tr valign="top" class="{% cycle rowalts %}">
                    <th>{% trans "Παγκόσμια Εξάπλωση" %}</th>
                    <td>{{ species.expansion }}</td>
                </tr>
        </table>
        {% if biotopes %}
        <h2>Τόποι εμφάνισης του είδους "{{ species.species_name }}
            {%if species.sub_species %} - {{ species.sub_species }} {% endif %}"
        </h2>
    </div>
            <div id="mapcontainer" style="width: 688px;">
                <div id="map" style="float: left;"></div>
                <div id="legendbox" style="border: 1px solid #333399; width: 162px; background-color: #f5f5f0; float: left; padding-left: 2px;">
                <h5>Επίπεδα τόπων:</h5>
                <form name="legendform">
                <div id="idlegend"></div>
                <h5>Επιλογές:</h5>
                <p class="legend">
                <input type=checkbox checked name="chkopaque" onClick="setLayersOpaque(chkopaque.checked);">Σχεδίαση επιφανειών
                <br><input type=checkbox name="chklabels" onClick="setLayersLabels(chklabels.checked);">Κωδικοί τόπων
                <br><input type=checkbox checked name="chksettlements" id="id_chksettlements" onClick="setSettlementsLabels(chksettlements.checked);"><span id="id_lblsettlements">Οικισμοί</span>
                </p>
                </form>
                <h5>Χαρτογραφικό υπόβαθρο:</h5>
                <form id="idbaselayers" name="baselayers">
                <p class="legend">
                <input type=radio checked name="rdbase" value="0" onClick="changeBaseLayer(0);">Open cycle map<br>
                <input type=radio name="rdbase" value="1" onClick="changeBaseLayer(1);">Open Street map<br>
                <input type=radio name="rdbase" value="2" onClick="changeBaseLayer(2);">Google earth<br>
                <input type=radio name="rdbase" value="3" onClick="changeBaseLayer(3);">Κτηματολόγιο Α.Ε.
                </p>
                </form>
                </div>
            </div>
    <div id="detailtext">
        <table class="definition tablesorter">
            <thead>
            <tr>
                <th>{% anchor site_code "Κωδικός τόπου" %}</th>
                <th>{% anchor site_name_gr "Τόπος" %}</th>
                <th>{% anchor category "Κατηγορία τόπου" %}</th>
                <th>{% anchor geo_code "Γεωγραφική ενότητα" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for i in biotopes %}
                <tr class="{% cycle 'odd' 'even' as rowalts %}">
                    <td><a href="{% url 'biotope_detail' i.site_code%}">{{ i.site_code}}</a></td>
                    <td><a href="{% url 'biotope_detail' i.site_code%}">{{ i.site_name_gr }}</a></td>
                    <td>{{ i.category }}</td>
                    <td>{{ i.geo_code }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
