{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  {% block basejs %}
  <script type="text/javascript">
    var STATIC_URL = "{{STATIC_URL}}";
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.3.2.min.js"></script>
{#  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script> #}
  <script type="text/javascript" src="{{ STATIC_URL }}dropdown.js"></script>
  {% endblock %}
  <title>{% block title %}{% trans "ΦΙΛΟΤΗΣ" %}{% endblock %}</title>
  {% block js-globals %}{% endblock %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {% block basecss %}
  <style type="text/css">
  /* Workarround for annoying google maps popup, should check if it is
     fixed in new open layers 2.11, Stefanos 2011-10-21 */
/*      .olLayerGoogleCopyright {
           top:-1000px;
      } */
  </style>
  <link media="screen" href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet">
  <link media="screen" href="{{ STATIC_URL }}css/tablesorter.css" type="text/css" rel="stylesheet">
  <link media="print" href="{{ STATIC_URL }}css/print.css" type="text/css" rel="stylesheet">
  {% endblock %}
  {% block mapjs %}{% endblock %}
  {% block shortcut_icon %}{% endblock %}
  {% block extracss %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<body onload="init()">
<div id="wrapper">
  <div id="header">
    <div id="logo" style="display: none;">
      <a class="simlink" href="{% url 'index' %}" alt="{% trans "Go to start page" %}" title="{% trans "Go to start page" %}">
        {% block logo %}<img src="{{ STATIC_URL }}images/ntua.gif" style="border:0;padding:10px;">{% endblock %}
        {% block headtitle %}<h1>ΦΙΛΟΤΗΣ</h1>{% endblock %}
      </a>
    </div>

    <a class="simlink" href="{% url 'index' %}" title="{% trans "Αρχική σελίδα" %}">
    <img src="{{ STATIC_URL  }}images/filotis_logo.png" id="topbanner"></a>

    <div id="toplinkcontainer">
          <div style="float:left;">
            <a href="/biotopes/?sort=site_code&dir=asc" class="menu" style="display: block;" title="Αναζήτηση βιοτόπων και τόπων" id="biotopes-ddheader" onmouseover="ddMenu('biotopes',1)" onmouseout="ddMenu('biotopes',-1)">Τόποι</a>
            <dl class="dropdown">
              <dd id="biotopes-ddcontent" onmouseover="cancelHide('biotopes')" onmouseout="ddMenu('biotopes',-1)">
                  <ul>
                      <li><a href="/biotopes/?category=1" class="dropdown">Τοπία Ιδιαίτερου Φυσικού Κάλλους (ΤΙΦΚ)</a></li>
                      <li><a href="/biotopes/?category=6" class="dropdown">Άλλα τοπία</a></li>
                      <li><a href="/biotopes/?category=4" class="dropdown">Βιότοποι Corine</a></li>
                      <li><a href="/biotopes/?category=2" class="dropdown">Βιότοποι NATURA</a></li>
                      <li><a href="/biotopes/?category=3" class="dropdown">Άλλοι βιότοποι</a></li>
                  </ul>
              </dd>
            </dl>
          </div>
          <div style="float:left;">
            <a href="/species/" class="menu" style="display: block; margin-left: 0.7em;" title="Αναζήτηση ειδών πανίδας και χλωρίδας" id="species-ddheader" onmouseover="ddMenu('species',1)" onmouseout="ddMenu('species',-1)">Είδη</a>
            <dl class="dropdown">
              <dd id="species-ddcontent" onmouseover="cancelHide('species')" onmouseout="ddMenu('species',-1)">
                  <ul>
                      <li><a href="/species/?species_category=4" class="dropdown">Φυτά</a></li>
                      <li><a href="/species/?species_category=1" class="dropdown">Αμφίβια</a></li>
                      <li><a href="/species/?species_category=5" class="dropdown">Ασπόνδυλα</a></li>
                      <li><a href="/species/?species_category=7" class="dropdown">Ερπετά</a></li>
                      <li><a href="/species/?species_category=6" class="dropdown">Θηλαστικά</a></li>
                      <li><a href="/species/?species_category=2" class="dropdown">Πτηνά</a></li>
                      <li><a href="/species/?species_category=3" class="dropdown">Ψάρια</a></li>
                  </ul>
              </dd>
            </dl>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="/info/" class="menu">{% trans "Περιγραφή" %}</a>&nbsp;&nbsp;
          <a href="/info/usage/" class="menu">{% trans "Οδηγίες χρήσης" %}</a>
    </div>

  </div>

  <div id="content">
    <div id="body">
        <div id="body_main">
            {% block content_main %}{% endblock %}
        </div>
    </div>
  </div>

  <div id="footer">
      <ul id="credits">
        <li>
          <a href="http://www.itia.ntua.gr/">
            <img src="{{ STATIC_URL }}images/itia-small-logo.png"/>
            <span style="color:#007F7F; float: right;">
                &nbsp;ITIA
            </span>
          </a>
        </li>
        <li><a href="http://www.hydro.ntua.gr/">ΤΥΠΥΘΕ</a></li>
        <li><a href="http://www.ntua.gr/">ΕΜΠ</a></li>
        <li>Επικοινωνία: <a href="mailto:filotis@itia.ntua.gr">filotis@itia.ntua.gr</a></li>
        <li><a href="https://github.com/ellak-monades-aristeias/naturebank">Powered by NatureBank</a></li>
      </ul>
  </div>

</div>

{% block extrajs %}{% endblock %}
</body>
</html>
