{% extends "base.html" %}
{% block content_main %}


<table style="width: 960px;" border="0">
<tbody>
<tr>
<td colspan="2"><h3 style="text-align: left;">FILOTIS - Database for the Natural Environment of Greece </h3></td>
</tr>
<tr>
<td valign="top"><a href="../../../../biotopes/?sort=site_code&amp;dir=asc"><img style="float: left; margin: 10px; border: 0pt none;" title="&Chi;ά&rho;&tau;&eta;&sigmaf; &tau;&eta;&sigmaf; &Epsilon;&lambda;&lambda;ά&delta;&alpha;&sigmaf; &mu;&epsilon; &tau;&omicron;&upsilon;&sigmaf; &tau;ό&pi;&omicron;&upsilon;&sigmaf;." src="/static/images/hellas-ocm.jpg" alt="&Chi;ά&rho;&tau;&eta;&sigmaf; &tau;&eta;&sigmaf; &Epsilon;&lambda;&lambda;ά&delta;&alpha;&sigmaf; &mu;&epsilon; &tau;&omicron;&upsilon;&sigmaf; &tau;ό&pi;&omicron;&upsilon;&sigmaf;." width="410" height="347" /></a></td>
<td valign="top">
<p style="text-align: left;">Καλώς ορίσατε στον ιστοχώρο ΦΙΛΟΤΗΣ, μία εφαρμογή της βάσης δεδομένων NatureBank για την ελληνική φύση.

<p style="text-align: left;">Στην παρούσα έκδοση είναι καταχωρημένα ελληνικά <a href="../../../../biotopes/?category=1">Τοπία Ιδιαίτερου Φυσικού Κάλλους (ΤΙΦΚ)</a>,
<a href="../../../../biotopes/?category=4">βιότοποι Corine</a>, <a href="../../../../biotopes/?category=2">βιότοποι NATURA</a>, <a href="../../../../biotopes/?category=6">άλλα τοπία</a> και
<a href="../../../../biotopes/?category=3">άλλοι βιότοποι</a>. Επίσης η Βάση έχει εμπλουτιστεί με τα περισσότερα
<a href="../../../../species/">είδη και υποείδη</a> της χλωρίδας και πανίδας που απαντώνται στον ελληνικό χώρο.</p>

<p style="text-align: left;">Η πλοήγηση στους τόπους και τα είδη γίνεται με τους αντίστοιχους συνδέσμους.
Η αναζήτηση γίνεται με την βοήθεια κριτηρίων (γεωγραφική περιοχή, είδος τόπου κλπ.)</p>

<p style="text-align: left;">H εφαρμογή του χάρτη χρησιμοποιείται στους τόπους για την απευθείας αναζήτηση και
απεικόνιση επιλεγμένων ομάδων τόπων και περιοχών.</p>

<p style="text-align: left;">Για επικοινωνία μπορείτε να στείλετε μήνυμα στην ηλεκτρονική διεύθυνση: <a href="mailto:filotis@itia.ntua.gr">filotis@itia.ntua.gr</a>.</p></td>
</tr>
</tbody>
</table>

{% endblock %}