{% extends "base-nomap.html" %}
{% load i18n %}
{% block extracss %}
<style type="text/css">
  #body { background-color: #FFFFCC !important; }
</style>
{% endblock %}

{% block content_main %}
<h2>{% trans "Καλώς όρισες στη ΦΙΛΟΤΗΣ" %}</h2>
<h3>{% trans "ΒΑΣΗ ΔΕΔΟΜΕΝΩΝ ΓΙΑ ΤΗΝ ΕΛΛΗΝΙΚΗ ΦΥΣΗ" %}</h2>

<h3>{% trans "DATABASE FOR THE NATURAL ENVIRONMENT OF GREECE" %}</h2>
<p>{% trans "Παρακαλούμε επιλέξτε μία από τις επιλογές στο μενού αριστερά." %}</p>


<p><img src="{{ STATIC_URL }}images/hellas.jpg" width="400px;" alt="Hellas map" style="margin-top: 3em;" /></p>

{% endblock %}
