{% extends "base.html" %}
{% block content_main %}

<h2>Δεδομένα</h2>
<p>Από το 1990 μέχρι σήμερα γίνεται έρευνα στο Εθνικό Μετσόβιο Πολυτεχνείο με
αντικείμενο τη δημιουργία μιας Τράπεζας Στοιχείων για την Ελληνική Φύση,
η οποία έχει ονομαστεί ΦΙΛΟΤΗΣ. Η φιλότης είναι όρος που χρησιμοποίησε
ο αρχαίος φιλόσοφος Εμπεδοκλής για να περιγράψει την ενοποιητική δύναμη
της φύσης (ο όρος προτάθηκε από την κ. Άννα Αραβαντινού, του Κέντρου Έρευνας
Ελληνικής Φιλοσοφίας της Ακαδημίας Αθηνών).</p>

<p>Στα πλαίσια αυτής της αρχικής έρευνας έχουν δημιουργηθεί αρχεία με τα
παρακάτω στοιχεία:</p>

<ul>
    <li>449 Τοπία Ιδιαιτέρου Φυσικού Κάλλους (ΤΙΦΚ), με συνολική έκταση 6270
    τετραγωνικά χιλιόμετρα ή 4,8% της χερσαίας έκτασης της χώρας</li>
    <li>430 ελληνικοί βιότοποι του ευρωπαικού προγράμματος CORINE, με συνολική
    έκταση 34395 τετραγωνικά χιλιόμετρα ή 26,1% της χερσαίας έκτασης της χώρας</li>
    <li>206 πρόσθετοι βιότοποι, σημαντικοί για απειλούμενα είδη της ελληνικής
    χλωρίδας και πανίδας, με συνολική έκταση 4378 τετραγωνικά χιλιόμετρα ή 3,3%
    της χερσαίας έκτασης της χώρας</li>
    <li>5596 είδη και υποείδη της ελληνικής χλωρίδας (το σύνολο των ανώτερων
    φυτών)</li>
    <li>Όλα τα είδη και υποείδη της ελληνικής σπονδυλωτής πανίδας, κυρίως του
    χερσαίου χώρου (138 θηλαστικά, 480 πτηνά, 132 ερπετά, 15 αμφίβια, 128 ιχθύες
    του γλυκού νερού)</li>
    <li>438 είδη και υποείδη της ελληνικής εντομοπανίδας (λεπιδόπτερα και
    ορθόπτερα)</li>
    <li>Χάρτες με τις περιμέτρους των ανωτέρω τόπων (βιότοποι και τοπία),
    ψηφιοποιημένες σε κλίμακα 1:50000.</li>
</ul>

<p>Τα στοιχεία που διατίθενται έχουν ερευνητικό χαρακτήρα και πολλοί από τους
τόπους δεν έχουν επίσημα κηρυχθεί προστατευτέοι.</p>

<p>Η βάση δεδομένων ΦΙΛΟΤΗΣ στηρίχτηκε στις εξής ερευνητικές δραστηριότητες:</p>
<ul>
    <li>Το ευρωπαϊκό πρόγραμμα CORINE-Biotopes (1986-1996)</li>
    <li>Το ευρωπαϊκό πρόγραμμα MEDSPA (1990-1994)</li>
    <li>Το πρόγραμμα "Οριοθέτηση και Καθορισμός Μέτρων Προστασίας Τοπίων Ιδιαιτέρου
    Φυσικού Κάλλους" του ΥΠΕΧΩΔΕ (1996-1999)</li>
    <li>8 διπλωματικές εργασίες φοιτητών που εκπονήθηκαν στο Ε.Μ.Π.</li>
</ul>

<p>Τα δεδομένα των περισσοτέρων βιοτόπων CORINE έχουν ενημερωθεί μέχρι τις αρχές
της δεκαετίας του '90.<p>

<p>Τα περισσότερα δεδομένα του αρχείου ΕΙΔΗ έχουν ενημερωθεί μέχρι τις αρχές της
δεκαετίας του '90. Είχαν συμπληρωθεί καταρχήν στα αγγλικά και στη συνέχεια έγινε
η απόδοση στην ελληνική γλώσσα, εκτός από μερικά στοιχεία που παραμένουν στα
αγγλικά για τεχνικούς λόγους.<p>

<p>Το αρχείο ΑΛΛΟΙ ΒΙΟΤΟΠΟΙ περιλαμβάνει όλους τους τόπους που έχουν εντοπιστεί
και είναι σημαντικοί για ένα τουλάχιστον απειλούμενο είδος χλωρίδας ή πανίδας,
αλλά οι οποίοι δεν περιλαμβάνονται στους βιοτόπους CORINE.<p>

<p>Το αρχείο ΑΛΛΑ ΤΟΠΙΑ περιλαμβάνει τοπία φυσικά και δομημένα που δεν είχαν
καταχωρηθεί στα 449 ΤΙΦΚ.<p>

<p>Στον ιστοχώρο περιλαμβάνονται επιπλέον οι βιότοποι του Ευρωπαϊκού δικτύου
NATURA 2000, σύμφωνα με την έκδοση της βάσης του Μαρτίου 2010. Τα στοιχεία για
τους βιότοπους NATURA προέρχονται απο στοιχεία (διαθέσιμα μόνο στην Αγγλική
γλώσσα) που δίνει το Υ.Π.Ε.Κ.Α. στο διαδίκτυο
(<a href="http://www.ypeka.gr/Default.aspx?tabid=504&amp;language=el-GR">http://www.ypeka.gr/Default.aspx?tabid=504&amp;language=el-GR</a>).<p>

<h2>Η ποικιλία της ελληνικής φύσης</h2>

<p>Ο πλούτος της ελληνικής φύσης εκδηλώνεται κυρίως με την ύπαρξη μεγάλης
βιοποικιλότητας. Οι πολυάριθμοι συνδυασμοί οικολογικών παραμέτρων δημιουργούν
πολλούς διαφορετικούς τύπους οικολογικών ενδιαιτημάτων και, κατά συνέπεια,
εξαιρετική ποικιλία χλωρίδας και πανίδας και μεγάλο αριθμό σημαντικών βιοτόπων.
Οι ίδιοι παράγοντες συντελούν στη διαμόρφωση μεγάλης ποικιλίας φυσικών τοπίων.
Ωστόσο, τα οικοσυστήματα και τα τοπία που δημιουργούνται χαρακτηρίζονται ως επί
το πλείστον από μικρή κλίμακα, πράγμα που τα καθιστά ευαίσθητα και τρωτά στις
πιέσεις. Στην Ελλάδα, το πλήθος των τόπων που παρουσιάζουν μεγάλη αξία ως
βιότοποι ή ως φυσικά τοπία ανέρχεται σε αρκετές χιλιάδες. Περιλαμβάνουν δάση,
υγροτόπους, ακτές, νησιά και βραχονησίδες, αλπικές περιοχές, θαμνότοπους,
ποτάμια, λίμνες, φαράγγια, πηγές, σπήλαια κλπ. Ο ελληνικός χώρος χαρακτηρίζεται
επιπλέον από ένα εξαιρετικό πολιτιστικό πλούτο, που συνδέεται στενά με την
ποικιλία της ελληνικής φύσης, αλλά, επίσης, συντελεί με τη σειρά του στη
δημιουργία πολλών αξιόλογων τοπίων, που, κατά κανόνα, συνδυάζουν φυσικό
κάλλος και πολιτιστική αξία. Τα ιστορικά μνημεία τόσων διαφορετικών εποχών,
η παραδοσιακή αρχιτεκτονική, τα ήθη, οι παραδόσεις και γενικώς όλα τα
πολιτιστικά χαρακτηριστικά, μαζί με τα φυσικά και βιολογικά στοιχεία,
συνθέτουν την έννοια του αισθητικά σημαντικού τοπίου.<p>


<h2>Τα Τοπία Ιδιαιτέρου Φυσικού Κάλλους</h2>

<p>Το Τοπίο Ιδιαιτέρου Φυσικού Κάλλους (ΤΙΦΚ) είναι ένας τόπος που διακρίνεται
για την αισθητική του αξία και παραμένει σε αξιόλογο βαθμό φυσικός, αν και
συχνά είναι δομημένος. Το μέγεθός του έχει οριστεί με ανθρώπινα μέτρα και δεν
υπερβαίνει τη δυνατότητα πεζοπορίας μιας μέρας, εκτός ειδικών εξαιρέσεων.
Συχνά τα ΤΙΦΚ περιλαμβάνουν παραδοσιακούς οικισμούς, αρχαιολογικούς ή ιστορικούς
χώρους. Τα κριτήρια επιλογής και αξιολόγησης των ΤΙΦΚ συνδέονται με φυσικά και
οικολογικά χαρακτηριστικά, όπως το ανάγλυφο, η βλάστηση και η χλωρίδα, η παρουσία
πανίδας, τα νερά, οι μετεωρολογικές συνθήκες, η πανοραμική θέα και με ανθρωπογενή
χαρακτηριστικά, όπως η ύπαρξη μνημείων, η ιστορική αναφορά, ο παραδοσιακός
χαρακτήρας, οι χρήσεις γης. Οι δυνατότητες χρήσης του ΤΙΦΚ για αναψυχή και
εκπαίδευση, η ύπαρξη μονοπατιών κλπ. επηρεάζουν θετικά την επιλογή. Κριτήρια
μπορούν επίσης ν' αποτελέσουν στοιχεία όπως η διαχρονικότητα, η αίσθηση φυγής
ή απομόνωσης, η δημιουργία συναισθημάτων, η επαφή με την φύση, η δυνατότητα
κατανόησης φυσικών διεργασιών κλπ. Η ανάπτυξη μεθοδολογίας για τον καθορισμό
κριτηρίων βασίστηκε σε βιβλιογραφική έρευνα, στην εμπειρία των συνεργατών του
προγράμματος και στη βοήθεια ειδικών επιστημόνων. Η συμπλήρωση των εντύπων
εισαγωγής στοιχείων έγινε από έμπειρους καταχωρητές, με βάση τις ακόλουθες
πηγές:</p>

<ul>
    <li>Προσωπική εμπειρία</li>
    <li>Επιτόπου επισκέψεις</li>
    <li>Πληροφορίες από βιβλιογραφία ή από βάσεις δεδομένων</li>
    <li>Πληροφορίες από γνώστες του ελληνικού περιβάλλοντος</li>
</ul>

<p>Μεγάλο μέρος των ΤΙΦΚ απειλούνται με υποβάθμιση, εξ αιτίας έντονων
ανθρωπογενών πιέσεων, όπως η αυθαίρετη ή ακαλαίσθητη δόμηση, η διάνοιξη δρόμων,
ο ανεξέλεγκτος τουρισμός και πολλές άλλες καταστροφικές δραστηριότητες που
υποβαθμίζουν τη φύση. Χαρακτηριστική είναι η περίπτωση της Κρήτης, η οποία
διαθέτει μεγάλο αριθμό ΤΙΦΚ, αλλά πάνω από τα μισά έχουν ανεπανόρθωτα
υποβαθμιστεί τα τελευταία χρόνια, κυρίως λόγω αλόγιστης δόμησης.</p>


<h2>Οι βιότοποι</h2>

<p>Οι σημαντικοί βιότοποι διακρίνονται για την παρουσία σε αυτούς απειλούμενων
ειδών της ελληνικής χλωρίδας και πανίδας. Ως απειλούμενα χαρακτηρίζονται τα είδη
που κινδυνεύουν άμεσα να εξαφανιστούν (κινδυνεύοντα), αυτά που μπορεί να βρεθούν
σε κατάσταση κινδύνου (τρωτά) και αυτά που είναι ευάλωτα διότι έχουν μικρούς
πληθυσμούς (σπάνια). Η κατάσταση των βιοτόπων, των ειδών χλωρίδας και πανίδας
και γενικότερα του οικολογικού πλούτου της ελληνικής φύσης παραμένει ακόμα πολύ
καλή σε σύγκριση με τις υπόλοιπες ευρωπαϊκές χώρες. Ωστόσο, το φυσικό περιβάλλον
υποβαθμίζεται ραγδαία από αυξανόμενες πιέσεις, όπως οι έγγειες βελτιώσεις, η
διάνοιξη ορεινών ή παράκτιων δρόμων, η επέκταση της δόμησης, η κατασκευή
τεχνικών έργων με ανεπαρκείς περιβαλλοντικές προδιαγραφές, οι δασικές πυρκαγιές,
η υπερβόσκηση, η παράνομη θήρα και αλιεία, η ανεξέλεγκτη αναψυχή ή τουριστική
δραστηριότητα και η ρύπανση.</p>

<h2>Η χαρτογράφηση των τόπων</h2>

<p>Τα ΤΙΦΚ, όπως και οι βιότοποι, χαρτογραφήθηκαν με υπόβαθρο χάρτες κλίμακας
1:50.000. Η χαρτογράφηση περιλαμβάνει οριοθέτηση κάθε τόπου με ψηφιοποίηση της
περιμέτρου και έγινε από τον υπεύθυνο καταχωρητή. Κάθε τόπος περιέχει πληροφορία
για τη γεωμετρική του δομή (περίμετρο, εμβαδόν) και τη θέση του στο χώρο.</p>


<h2>Συνεργάτες</h2>

<ul>
    <li>Επιστημονικός υπεύθυνος του προγράμματος ΦΙΛΟΤΗΣ ήταν ο Κίμων Χατζημπίρος,
    Φυσικός-Οικολόγος, Αναπληρωτής Καθηγητής Ε.Μ.Π. Στα διαδοχικά ερευνητικά
    προγράμματα που δημιούργησαν την βάση δεδομένων έχουν συμμετάσχει οι κάτωθι
    ερευνητές (ο καθένας αναφέρεται με την ιδιότητα που είχε κατά το χρόνο
    συνεργασίας του):</li>
    <li>Κατερίνα Αναγνωστοπούλου, Βιολόγος</li>
    <li>Ευαγγελία Αρχοντή, Φοιτήτρια Αγρονόμος-Τοπογράφος Μηχανικός</li>
    <li>Veronique Auzet, Charge de Recherches C.N.R.S.</li>
    <li>J. P. Cancela da Fonseca, Maitre de Recherches C.N.R.S.</li>
    <li>Nίκος Γεωργόπουλος, Αρχιτέκτων, καταχωρητής ΤΙΦΚ</li>
    <li>Δημήτρης Γλέζος, Επιστήμονας Πληροφορικής, συμμετοχή στην ομάδα
    ανάπτυξης της νέας μορφής του ιστοχώρου</li>
    <li>Μαρτίνος Γκαίτλιχ, Βιολόγος, καταχωρητής ειδών πανίδας και βιοτόπων
    CORINE</li>
    <li>Μαριάνθη Γρηγορίου, Γραμματέας</li>
    <li>Ben Hallmann, Βιολόγος, Ορνιθολόγος, καταχωρητής ειδών πανίδας και
    μεγάλου αριθμού βιοτόπων CORINE</li>
    <li>Λουκία Κανδηλάκη, Φοιτήτρια Πολιτικός Μηχανικός</li>
    <li>Δημήτριος Καραντζένης, Φοιτητής Αγρονόμος-Τοπογράφος Μηχανικός</li>
    <li>Θεόδωρος Κάργας, Φοιτητής Πληροφορικής</li>
    <li>Σταύρος Κατσίβας, Φοιτητής Αγρονόμος-Τοπογράφος Μηχανικός</li>
    <li>Μαρία Κελεμένη, Αρχαιολόγος</li>
    <li>Στέφανος Κοζάνης, Δρ. Τοπογράφος Μηχανικός, ανάπτυξη της γεωγραφικής
    εφαρμογής, συντήρηση του νέου ιστοχώρου</li>
    <li>Θεόδωρος Κοκκινόπουλος, Φοιτητής Αγρονόμος-Τοπογράφος Μηχανικός</li>
    <li>Πολυξένη Κοσμάκη, Αρχιτέκτων, Επίκουρη Καθηγήτρια Ε.Μ.Π.</li>
    <li>Αντώνης Κουκουβίνος, Τοπογράφος Μηχανικός, Msc, σχεδίαση και ενημέρωση
    της γεωγραφικής βάσης δεδομένων, συμμετοχή στην ομάδα ανάπτυξης της νέας
    μορφής του ιστοχώρου, έλεγχος νέων στοιχείων</li>
    <li>Δημήτρης Κουτσογιάννης, Πολιτικός Μηχανικός, Επίκουρος Καθηγητής
    Ε.Μ.Π.</li>
    <li>Χαρά Κυρίου, Φοιτήτρια Πολιτικός Μηχανικός</li>
    <li>Ευάγγελος Κυρίτσης, Περιβαλλοντολόγος</li>
    <li>Ανδρέας Λουπασάκης, Επιστήμονας Πληροφορικής, συμμετοχή στην ομάδα
    ανάπτυξης της νέας μορφής του ιστοχώρου</li>
    <li>Γεώργιος Μαγείρου, Φοιτητής Πολιτικός Μηχανικός</li>
    <li>Αρτεμις Μάτση, Φοιτήτρια Πολιτικός Μηχανικός</li>
    <li>Ελευθερία Μερτσιώτη, Φοιτήτρια Πολιτικός Μηχανικός</li>
    <li>Κωνσταντίνος Μισιακός, Φυσικός-Ορνιθολόγος</li>
    <li>Όλγα Μουτοπούλου, Χημικός Μηχανικός</li>
    <li>Ειρήνη Ντόνα, Δασολόγος</li>
    <li>Γεώργιος Ντούρος, Δασολόγος</li>
    <li>Ιωάννης Ντούρος, Φοιτητής Πληροφορικής</li>
    <li>Αννα Πατρικίου, Αρχιτέκτων</li>
    <li>Δημήτρης Σακελλαριάδης, Μηχανικός Ορυκτών Πόρων</li>
    <li>Νίκος Σιφναίος, Φοιτητής Πολιτικός Μηχανικός</li>
    <li>Γεώργιος Σφήκας, Ερευνητής ελληνικής χλωρίδας, Ζωγράφος, καταχωρητής
    των ειδών χλωρίδας και μεγάλου αριθμού ΤΙΦΚ και βιοτόπων CORINE</li>
    <li>Νικολής Ταζάρτες, Φοιτητής Πολιτικός Μηχανικός</li>
    <li>Δημοσθένης Τσαντίλης, Φυσικός, καταχωρητής μεγάλου αριθμού ΤΙΦΚ</li>
    <li>Θεώνη Τσέλιου, Αρχιτέκτων, καταχωρητής ΤΙΦΚ</li>
    <li>Γρηγόρης Τσούνης, Βιολόγος, καταχωρητής ειδών πανίδας</li>
    <li>Βασίλης Χατζηρβασάνης, Δασολόγος, καταχωρητής βιοτόπων CORINE</li>
</ul>


<p>Ένα φυλλάδιο με μία συνοπτική παρουσίαση του έργου ΦΙΛΟΤΗΣ μπορείτε να
κατεβάσετε από εδώ:
<a href="http://itia.ntua.gr/el/docinfo/1141/">http://itia.ntua.gr/el/docinfo/1141/</a><p>


{% endblock %}