{% extends "tos-default.html" %}
{% load i18n %}

{% block content_main %}
<p>© 1998-2015 Εθνικό Μετσόβιο Πολυτεχνείο</p>

<p>Έχετε δικαίωμα να αντιγράφετε, να αναδιανέμετε και να τροποποιείτε το
    περιεχόμενο αυτού του web site σύμφωνα με τους όρους της άδειας χρήσης <a
        href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
        Attribution-ShareAlike International 4.0</a>.</p>

<p><strong>Δεν υπάρχει καμία διαβεβαίωση ότι τα δεδομένα είναι σωστά.</strong>
    Τα δεδομένα είναι αποτέλεσμα ερευνητικού έργου και ούτε νομική ισχύ έχουν
    ούτε είναι χωρίς λάθη. Αν θέλετε να γνωρίζετε επίσημα ή με βεβαιότητα αν
    μια περιοχή είναι εντός των ορίων μιας περιβαλλοντικής ζώνης, δεν πρέπει να
    βασιστείτε στα δεδομένα αυτού του ιστόχωρου.</p>

<p>Οι όροι αυτοί ισχύουν και για το <a href="/mapserver">WMS/WFS</a>.</p>

{% endblock %}
